<%- include('header') %>

<h1><%= card.name %></h1>

<div class="cardsContainer">
    <div class="card">
        <img src="/visuals/<%= card.visual_name %>" alt="<%= card.name %> illustration">
        <a class="link--addCard" title="Ajouter au deck" href="/deck/add/<%= card.id %>">[ + ]</a>
    </div>
</div>


<%- include('footer') %>